.footer{
    border-top-color: #aaaaaa;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 20px;
}

.imgfooter{
    margin: 10px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    opacity: 0.7;
}

.imgfooter:hover{
    transform: scale(1.05);
}

.facebook{
    margin-left: 40px;
}

.copyr{
    margin-left: 40px;
    font-size:14px;
}

@media screen and (max-width: 500px){
    .footerpc{
        display: none;
    }
    
    .copyr{
        text-align: center;
        margin-left: 0px;
    }

    .facebook{
        margin-left: 0px;
    }
}

@media screen and (min-width: 501px){
    .footermobile{
        display: none;
    }
}